/*****************************/
/* IMPORTS */
@import "../../../variables.scss";
/*****************************/
section {
  &#about-lena {
    display: flex;
    align-items: center;
    padding: 8em 4em;
    .portrait {
      margin-right: 2em;
      img {
        border-radius: 50%;
        width: 20em;
        height: 20em;
      }
    }
  }
}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 860px) {
  section {
    &#about-lena {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2em 1.5em;
      .portrait {
        margin-bottom: 1.5em;
        margin-right: 0;
      }
    }
  }
}
