<section id="about-lena" class="content-page">
  <div class="portrait">
    <img src="../../assets/img/portrait.jpg" />
  </div>
  <div>
    <h1>Das bin ich!</h1>
    <p>
      mein Name ist Lena Holzheimer und mein Beruf als Ergotherapeutin hat für
      mich eine sehr große Bedeutung. Nun erfülle ich mir meinen Traum von einer
      eigenen Praxis, denn ab dem 1. Mai 2024 übernehme ich die Praxis von
      Christa Paternostro in Neuendettelsau.
    </p>
    <h2>Was ist Ergotherapie eigentlich?</h2>
    <p>
      Ergotherapie unterstützt und begleitet Menschen jeden Alters, die in ihrer
      Handlungsfähigkeit eingeschränkt oder vor Einschränkung bedroht sind. Ziel
      ist, sie bei der Durchführung für sie bedeutungsvoller Betätigungen in den
      Bereichen Selbstversorgung, Produktivität und Freizeit in ihrer
      persönlichen Umwelt zu stärken.
    </p>
    <p>
      Hierbei dienen spezifische Aktivitäten, Umweltanpassungen und Beratung
      dazu, dem Menschen Handlungsfähigkeit im Alltag, gesellschaftliche
      Teilhabe und eine Verbesserung einer Lebensqualität zu ermöglichen.
      <i>(Deutscher Verband für Ergotherapie 08/2007)</i>
    </p>
  </div>
</section>
