<div class="page sub-page">
  <!-- HEADER -->
  <app-header></app-header>

  <section id="impressum">
    <div class="content-page sub-page-spacer">
      <div class="content-page sub-page-spacer">
        <div>
          <h1>Impressum</h1>
          <p>Angaben gemäß § 5 TMG:</p>
          <br />
          <p>
            <strong>Ergotherapie Lena Holzheimer</strong><br />
            Inhaberin: Lena Holzheimer<br />
            Bahnhofstr. 26<br />
            91564 Neuendettelsau
          </p>
          <br />
          <p>
            Telefon: 09874 / 689492<br />
            Fax: 09874 / 689526
          </p>
          <p>
            E-Mail: praxis&#64;ergotherapie-holzheimer.de<br />
            Internet: www.ergotherapie-holzheimer.de
          </p>
          <p>IK-Nummer: 480908176</p>
          <p>
            <strong>Gesetzliche Berufsbezeichnung: </strong>Ergotherapeut<br />
            <strong>Verleihungsstaat: </strong>Freistaat Bayern<br />
            <strong>Aufsichtsbehörde: </strong>Gesundheitsamt Ansbach / Stadt
            Ansbach<br />
            <strong>Berufsordnung zur Einsicht: </strong>http://www.dve.info/
          </p>
          <p>
            Inhaltlich verantwortlich im Sinne des § 18 Abs. 2 MStV ist: <br />
            <strong>Lena Holzheimer</strong><br />
            Bahnhofstr. 26<br />
            91564 Neuendettelsau<br />
            E-Mail: praxis&#64;ergotherapie-holzheimer.de
          </p>
          <br />
          <h1>Haftungsausschluss</h1>
          <br />
          <h2>Haftung für Inhalte</h2>
          <p>
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für
            die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können
            wir jedoch keine Gewähr übernehmen.<br />
            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte
            auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach
            §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
            verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
            überwachen oder nach Umständen zu forschen, die auf eine
            rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung
            oder Sperrung der Nutzung von Informationen nach den allgemeinen
            Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
            jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
            Rechtsverletzung möglich. Bei bekannt werden von entsprechenden
            Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
          </p>
          <h2>Haftung für Links</h2>
          <p>
            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
            Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
            fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
            verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber
            der Seiten verantwortlich. Die verlinkten Seiten wurden zum
            Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
            Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
            erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
            Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
            nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir
            derartige Links umgehend entfernen.
          </p>
          <h2>Urheberrecht</h2>
          <p>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
            diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge
            Dritter sind als solche gekennzeichnet. Die Vervielfältigung,
            Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
            Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
            jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
            sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
            Die Betreiber der Seiten sind bemüht, stets die Urheberrechte
            anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie
            Werke zurückzugreifen.
          </p>
          <h2>Rechtswirksamkeit dieses Haftungsausschlusses</h2>
          <p>
            Sofern Teile oder einzelne Formulierungen dieses Textes der
            geltenden Rechtslage nicht, nicht mehr oder nicht vollständig
            entsprechen sollten, bleiben die übrigen Teile des Dokumentes in
            ihrem Inhalt und ihrer Gültigkeit davon unberührt.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
