/*****************************/
/* IMPORTS */
@import "../../variables.scss";
/*****************************/
/* FOOTER */
footer {
  width: 100%;
  background-color: $basic-primary-hover;
}
#footer {
  padding: 2.5em 1.5em;

  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  .footer-links {
    a {
      color: $basic-white;
      margin-right : 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .socials {
    svg {
      width: 2em;
      height: 2em;
    }
  }

}
