<div class="page sub-page">
  <!-- HEADER -->
  <app-header></app-header>

  <section id="kontakt">
    <div class="content-page sub-page-spacer">
      <h1>So erreichen Sie uns</h1>

      <div class="flex">
        <div class="kontakt-info-wrapper">
          <h1>Kontakt</h1>
          <p>
            Ergotherapie Lena Holzheimer<br />
            Bahnhofstraße 26<br />
            91564 Neuendettelsau (Eingang um die Ecke)
          </p>

          <p>
            Tel: <a href="tel:+499874689492">09874 689492</a><br />
            Fax: 09874 689526<br />
            E-Mail:
            <a href="mailto:info@ergotherapie-holzheimer.de"
              >info&#64;ergotherapie-holzheimer.de</a
            ><br />
            Instagram:
            <a
              href="https://www.instagram.com/ergotherapie_holzheimer/"
              target="_blank"
              >&#64;ergotherapie_holzheimer</a
            >
          </p>
          <br />
          <p>
            Während der Behandlungszeit können wir leider nicht persönlich ans
            Telefon gehen. Bitte hinterlassen Sie uns eine Nachricht mit Ihrer
            Telefonnummer auf dem Anrufbeantworter. Wir rufen Sie gerne zurück.
          </p>
          <p>
            <strong
              >Termine nur nach Vereinbarung.<br />Terminanfragen bitte
              telefonisch.</strong
            >
          </p>
        </div>
        <div class="kontakt-info-wrapper">
          <h1>Anfahrt</h1>
          <p>
            Die Praxis ist ebenerdig und barrierefrei zugänglich. Direkt vor der
            Praxis befindet sich auch ein Behinderten Parkplatz.
          </p>
          <p>
            Außerdem stehen unseren Patienten 2 Praxis Stellplätze zur
            Verfügung. Diese sind mit “Ergo-Praxis” gekennzeichnet.
          </p>
          <iframe
            class="maps"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Bahnhofstraße 26, 91564 Neuendettelsau&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
