<div class="page sub-page">
  <!-- HEADER -->
  <app-header></app-header>

  <div class="intro-wrapper"></div>

  <section id="team" class="content-page homepage">
    <h1>Unser Team</h1>
    <div class="team-wrapper">
      <div class="team-member">
        <img src="../../assets/img/portrait-lena-holzheimer.jpg" />
        <p>
          <strong>Lena Holzheimer</strong><br />
          Ergotherapeutin / Praxisinhaberin
        </p>
      </div>
      <div class="team-member">
        <img src="../../assets/img/portrait-laura-grossberger.jpg" />
        <p>
          <strong>Laura Großberger</strong><br />
          Ergotherapeutin
        </p>
      </div>
      <div class="team-member">
        <img src="../../assets/img/portrait-birgit-holzheimer.jpg" />
        <p>
          <strong>Birgit Holzheimer</strong><br />
          Praxisverwaltung
        </p>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
