<div class="page sub-page">
  <!-- HEADER -->
  <app-header></app-header>

  <div class="intro-wrapper">
    <div class="intro-text">
      <div>
        <h1>Unsere Praxis</h1>
      </div>
    </div>
  </div>

  <section id="praxis" class="content-page">
    <!-- <h1>Unsere Räumlichkeiten</h1> -->
    <div class="carousel-wrapper">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <h1>Räumlichkeiten</h1>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/img/slides/slide-2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/slide-1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/slide-3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/slide-4.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/slide-5.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/slide-6.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div
        id="carouselExampleControls2"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <h1>Unsere Künstlerwerkstatt</h1>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/img/slides/kw-slide-1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/kw-slide-2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/kw-slide-3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/slides/kw-slide-4.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="description">
      <h1>Miteinander etwas bewegen...</h1>
      <p>
        Wir sehen die Praxis als Ort, an dem eine Entwicklung und ein Wachsen
        stattfinden kann. Dies geschieht nur in einem "Miteinander". Ein
        "Miteinander" zwischen uns und Ihnen als Klienten, Eltern und Kindern,
        unter Einbindung aller relevanten Bezugssysteme (z.B. Kindertagesstätte,
        Schule, Logopäden, Ärzten,...).
      </p>
      <h2>Ein Stück gemeinsam gehen...</h2>
      <p>
        Wir begreifen uns als Ihr Wegbegleiter für eine Etappe. In diesem
        Prozess wollen wir Ihnen Impulse und Anregungen bieten, die Sie zur
        Bewältigung Ihres Alltags nutzen können.
      </p>
      <h2>Den Alltag bewältigen...</h2>
      <p>
        In Anlehnung an das Canadian Model of Occupational Performance (CMOP)
        und durch die Nutzung verschiedener ergotherapeutischer Befundsysteme
        wollen wir gemeinsam mít Ihnen Ihren Alltag, mit seinen
        Herausforderungen, erfassen und Strategien erarbeiten.
      </p>
      <h2>Fähigkeiten entdecken...</h2>
      <p>
        Wir heißen Sie als Klienten, Eltern und Kinder mit all Ihren Talenten
        willkommen. Durch die Entdeckung Ihrer Stärken und Fähigkeiten wollen
        wir den ergotherapeutischen Prozess begleiten und Sie beim Erreichen
        Ihrer gewünschten Ziele unterstützen.
      </p>
      <h2>... damit Handlungsfähigkeit kein Fremdwort bleibt.</h2>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
