<section id="sub-navigation">
  <div class="sub-nav-item leistungen">
    <a routerLink="/leistungen" class="sub-nav-item-content">
      <div class="caption">Leistungen</div>
    </a>
  </div>
  <div class="sub-nav-item praxis">
    <a routerLink="/praxis" class="sub-nav-item-content">
      <div class="caption">Praxis</div>
    </a>
  </div>
  <div class="sub-nav-item team">
    <a routerLink="/team" class="sub-nav-item-content">
      <div class="caption">Team</div>
    </a>
  </div>
</section>
