/*****************************/
/* IMPORTS */
@import "../../../variables.scss";
section {
  &#sub-navigation {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    .sub-nav-item {
      width: 32%;
      height: 20em;
      border: 1px solid $basic-secondary;
      margin-right: 0.5em;
      border-radius: 0.25em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;

      &.leistungen {
        background-image: url('../../../assets/img/sub-nav-leistungen.jpg');
      }
      &.praxis {
        background-image: url('../../../assets/img/sub-nav-praxis.jpg');
      }
      &.team {
        background-image: url('../../../assets/img/sub-nav-team.jpg');
      }
    }
    .sub-nav-item-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .4s;
      &:hover {
        background-color: $basic-primary-hover;
        opacity: .8;
        transition: .4s;
        color: #fff;
        cursor: pointer;
        z-index: 100;
        .caption {
          color: $basic-white;
        }
      }
      .caption {
        font-size: 3.25em;
        color: $basic-white;
        font-family: looking-flowers-script, sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 860px) {
  section {
    &#sub-navigation {
      display: flex;
      flex-wrap: wrap;
      .sub-nav-item {
        width: 95%;
        margin-right: 0;
        margin-bottom: 0.5em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
