<div class="page sub-page">
  <!-- HEADER -->
  <app-header></app-header>

  <div class="intro-wrapper">
    <div class="intro-text">
      <div>
        <h1>Unser Leistungsangebot</h1>
      </div>
    </div>
  </div>

  <section id="leistungen" class="content-page homepage">
    <h1>Wir sind für Sie da</h1>
    <p>
      Wir bieten eine Vielzahl von Behandlungsbereichen an, um Patienten jeden
      Alters und mit unterschiedlichen Bedürfnissen zu unterstützen.
    </p>
    <h2>Das erwartet Sie als erwachsener Klient bei uns:</h2>
    <ul>
      <li>
        In der ersten Einheit findet ein ausführliches Aufnahmegespräch mit
        einer Befunderhebung statt
      </li>
      <li>
        Anschließend folgt eine gemeinsame Zielvereinbarung und Erstellung eines
        Behandlungsplans
      </li>
      <li>
        Nun geht es mit der gemeinsamen Umsetzung des Behandlungsplans weiter.
        Um ein Erreichen der Ziele möglich zu machen, ist es wichtig, das in der
        Therapie gegebene Anregungen und Impulse in den Alltag übernommen
        werden.
      </li>
    </ul>

    <div class="leistungen-wrapper">
      <div class="leistungen-content">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung1">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung1"
                aria-expanded="false"
                aria-controls="leistung1"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/kids.png"
                />Pädiatrie
              </button>
            </h2>
            <div
              id="leistung1"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung1"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>Das erwartet Sie als Eltern mit ihrem Kind bei uns:</p>
                <ul>
                  <li>
                    In der ersten Therapieienheit geht es darum Ihr Kind und Sie
                    kennenzulernen und ein erstes Vertrauensverhältnis
                    aufzubauen. Mit einer geführten Spielsituation beginnen
                    wir die Befunderhebung.
                  </li>
                  <li>
                    In den kommenden Einheiten führen wir die Befunderhebung
                    fort. Dies geschieht u.a. mit standardisierten Tests.
                  </li>
                  <li>
                    Dem folgt ein ausführliches Elterngespräch mit
                    Zielvereinbarung und Besprechung des Behandlungsplans.
                  </li>
                  <li>
                    Nun geht es mit der gemeinsamen Umsetzung des
                    Behandlungsplans weiter. Um ein Erreichen der Ziele möglich
                    zu machen, ist es wichtig, dass in der Therapie gegebene
                    Anregungen und Impulse in den Alltag übernommen werden.
                  </li>
                  <li>
                    Es findet weiterhin ein Austausch und eine Reflektion über
                    den aktuellen Stand statt.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung2">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung2"
                aria-expanded="false"
                aria-controls="leistung2"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/brain.png"
                />Neurologie
              </button>
            </h2>
            <div
              id="leistung2"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung2"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Der Klient wird dabei unterstützt und begleitet seine
                  Betätigungsanliegen und Ziele zu erreichen. Unter Umständen werden
                  auch die Angehörigen in die Arbeit mit einbezogen. Es werden z.B.
                  lebenspraktische und alltägliche Fähigkeiten gefördert und zur
                  größtmöglichen Selbstständigkeit verholfen. <br />
                  Auch die Verbesserung der Lebensqualität ist in der Neurologie
                  ein wichtiger Teil der Therapie.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung3"
                aria-expanded="false"
                aria-controls="leistung3"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/hand.png"
                />Orthopädie / Rheumatologie / Handtherapie
              </button>
            </h2>
            <div
              id="leistung3"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung3"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Ziele können z.B. sein, die Selbstständigkeit zu erreichen,
                  Schmerzen zu reduzieren und die Lebensqualität zu verbessern.
                  Wir bieten auch eine umfassende Hilfsmittelberatung an.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung4">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung4"
                aria-expanded="false"
                aria-controls="leistung4"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/wheelchair.png"
                />Geriatrie
              </button>
            </h2>
            <div
              id="leistung4"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung4"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Ziele können z.B. sein die Selbstständigkeit, Mobiltät und
                  Lebensqualität zu verbessern. Lebenspraktische und alltagsnahe
                  Fähigkeiten können gefördert werden. Kognitive Fähigkeiten
                  können trainiert werden, z.B. mit Hirnleistungstraining. Wir
                  bieten Hilfsmittelberatung und Adaptionen an.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung5">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung5"
                aria-expanded="false"
                aria-controls="leistung5"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/psycho.png"
                />Psychiatrie / Psychosomatik
              </button>
            </h2>
            <div
              id="leistung5"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung5"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Hier begleiten wir Sie z.B. dabei Ihr Selbstbewusstsein zu stärken, die Wahrnehmung und die Lebensqualität zu verbessern.
                  Themen wie Tagesstrukturierung, Motivation, Antrieb und Belastbarkeit
                  können zur Behandlung gehören. Auch kognitive Fähigkeiten, wie
                  z.B. Aufmerksamkeit, Konzentration und Gedächtnis können
                  gefördert werden.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="Leistung6">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#leistung6"
                aria-expanded="false"
                aria-controls="leistung6"
              >
                <img
                  class="leistungs-icon"
                  src="../../assets/img/grafiken/handshake.png"
                />Beratung & Privatleistungen
              </button>
            </h2>
            <div
              id="leistung6"
              class="accordion-collapse collapse"
              aria-labelledby="Leistung6"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul>
                  <li>Fachberatung bei Hochsensibilität</li>
                  <li>Fachberatung bei Burnout</li>
                  <li>Stressmanagment trainieren</li>
                  <li>Tapen</li>
                  <li>Schröpfen & Gua SHA, Tuina Massage (TCM)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="leistung">
      <h2>Unsere Fort- und Weiterbildungen:</h2>
      <p>
        Wir haben uns bereits in einigen Bereichen Fort- und Weitergebildet um
        die bestmögliche Therapie für sie zu ermöglichen. Sprechen Sie gerne an.
      </p>
      <ul>
        <li>Zertifizierte Fachberatung bei Hochsensibilität</li>
        <li>Zertifizierte Burnout Beraterin</li>
        <li>Trainierin für Stressmanagement</li>
        <li>
          Fortbildung im Bereich der TCM
          <ul class="sublist">
            <li>Schröpfen und Gua SHA</li>
            <li>Tuina Massage</li>
          </ul>
        </li>
        <li>"Geschickte Hände" Grundkurs</li>
        <li>"Handgeschicklichkeit bei Kinder" Aufbaukurs</li>
        <li>Stiftprofis</li>
        <li>Wunstorfer Konzept</li>
        <li>Marburger Konzentrationstraining (MKT) für alle Altersstufen</li>
        <li>Trainerin MKT</li>
        <li>Sensorische Integration Einführungskurs</li>
        <li>Foto-Interview</li>
        <li>Handtherapie nach Peters Basisseminar</li>
        <li>
          Beginn Ausbildung zur Handtherapeutin im März 2024: Handtherapie Modul
          1-3 (weitere Module folgen noch)
        </li>
        <li>Ausbildung zur Tape Therapeutin</li>
        <li>RehaCom Curriculum</li>
      </ul>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
