/*****************************/
/* IMPORTS */
@import "../../variables.scss";
/*****************************/
/* HEADER */
.desktop-hidden {
  display: none;
}

#header {
  padding: 1em 1.5em;
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  .row {
    max-width: 1400px;
    width: 100%;
  }

  /* JUST TESTING */
  &.transparent {
    background-color:transparent;
    // background-color: #eae2db;
    transition: background-color 0.3s;
    .navigation-wrapper {
      #menuToggle span {
        background: $basic-white;
      }
    }
    .contact-wrapper {
      .icon-mail,
      .icon-phone {
        svg {
          fill: $basic-white;
          transition: fill 0.3s;
        }
      }
    }
    a {
      text-decoration: none;
      .header-logo {
        // display: none;
        width: 12em;
        fill: #fff;
        &:hover {
          color: #333333;
        }
        &.show {
          display: block;
          transition: display 0.3s;
          width: 1.8em;
        }
      }
    }
    &.non-transparent {
      background-color: #d7cac0;
      transition: background-color 0.3s;
      opacity: 0.95;
      .navigation-wrapper {
        #menuToggle span {
          background: $basic-primary;
        }
      }
      .contact-wrapper {
        .icon-mail,
        .icon-phone {
          svg {
            fill: $basic-primary;
            transition: fill 0.3s;
          }
        }
      }
      a {
        text-decoration: none;
        .header-logo {
          width: 12em;
          fill: #000;
          &:hover {
            color: #333333;
          }
          &.show {
            display: block;
            transition: display 0.3s;
            width: 1.8em;
          }
        }
      }
      .navigation-wrapper {
        .desktop-navigation {
          ul {
            li {
              a {
                color: #241600;
              }
            }
          }
          }
        }
    }
  }


  /* NAVIGATION */
  .navigation-wrapper {
    cursor: pointer;
    order: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    .desktop-navigation {
      display: flex;
        align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        line-height: 0;
        li {
          margin-right: 1.75em;
          font-size: 1.1em;
          &:last-child {
            margin-right: 0;
          }
          a {
            // color: #241600;
            color: #fff;
          }
        }
      }

    }

    #menuToggle {
      display: block;
      position: relative;
      top: 0.2em;
      left: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    #menuToggle a {
      text-decoration: none;

      li {
        color: #000 !important;
        transition: color 0.3s ease;
        transition: background-color 0.3s;
      }
    }
    #menuToggle a:hover {
      li {
        color: $basic-white !important;
        background-color: $basic-primary !important;
        transition: background-color 0.3s;
      }
    }
    #menuToggle input {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      -webkit-touch-callout: none;
      z-index: 2;
    }
    #menuToggle span {
      display: block;
      width: 27px;
      height: 1px;
      margin-bottom: 6px;
      position: relative;
      background: $basic-primary;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      z-index: 1;
    }
    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    #menuToggle span:last-child {
      margin-bottom: 0 !important;
    }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $basic-primary;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
      position: absolute;
      width: 300px;
      height: 106vh;
      margin: -3.3em 0 0 -56px;
      padding-top: 6.7em;
      color: #ffffff;
      background: #e3ded7;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      opacity: 0.95;
      -webkit-box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.25);
      box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.25);
    }
    #menu a {
      color: $basic-white !important;
      &:hover {
        color: $basic-white !important;
      }
    }
    #menu li {
      padding: 0.75em 0.75em 0.75em 1em;
      font-size: 1.25em;
      color: $basic-white !important;
      &.subnav-item {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        font-weight: 300;
        svg {
          fill: $basic-white;
          width: 0.5em;
          height: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
    #menuToggle input:checked ~ ul {
      transform: none;
    }
  }
  /* LOGO */
  .logo-wrapper {
    order: 1;
    display: flex;
    justify-content: flex-start;
    #logo {
      width: 9em;
    }
    #logo-mobile {
      display: none;
    }
  }
  /* CONTACT */
  .contact-wrapper {
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    .icon-phone {
      margin-right: 1em;
      cursor: pointer;
      svg {
        width: 1.8em;
        height: 1.8em;
        fill: $basic-primary;
        transition: fill 0.3s;
      }
    }
    .icon-mail {
      cursor: pointer;
      svg {
        width: 1.8em;
        height: 1.8em;
        fill: $basic-primary;
        transition: fill 0.3s;
      }
    }
  }
}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 1080px) {
  #header {
    padding: 1em 0.5em;
  }
  #menu {
    margin: -4.5em 0 0 -56px !important;
  }
  .desktop-hidden {
    display: block;
  }
  .navigation-wrapper {
    order: 1 !important;
    &.col-8 {
      width: 33%;
    }
    .desktop-navigation {
      display: none !important;
    }
  }
  .logo-wrapper {
    order: 2 !important;
    justify-content: center !important;
    &.col-2 {
      width: 33%;
    }
  }
  .contact-wrapper {
    &.col-2 {
      width: 33%;
    }
  }

}
