/* IMPORTS */
@import "../src/variables.scss";
app-root {
  height:100%;
}
@font-face {
  font-family: 'Forum';
  src: url('../src/assets/fonts/Forum.woff2') format('woff2'),
      url('../src/assets/fonts/Forum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #2c1c0a;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  height: 100%;
  background-color: #f8f6f1;
  // background-color: #c4b7ac;
  font-size: 1em;
  font-family: source-sans-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: column;

}
p {
  line-height: 1.8em;
  font-weight: 100;
  font-family: source-sans-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1em;
  letter-spacing: 0.04em;
}
// .sub-page-spacer {
//   margin-top: 10em;
// }
.highlight-color {
  color: $basic-primary;
}
.homepage {
  background-color: #f8f6f1;
}

.page {
  background-color: #f8f6f1;
  height: 100vh;
}
h1,
h2,
h3,
h4 {
  color: $basic-primary;
  font-family: 'Forum';
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
  line-height: 1;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 2.5em;
}
h2 {
  &.subline {
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2em;
  }
}
a {
  text-decoration: none;
  color: $basic-primary;
  &:hover {
    text-decoration: none;
    color: $basic-primary-hover;
  }
}
li {
  font-size: 1.1em;
  list-style-type: circle;
}
.content-page {
  padding: 4.5em 1.5em;
  max-width: 1400px;
  margin: 0 auto;
  h1 {
    margin-bottom: 0.25em;
  }
  h2 {
    font-size: 2.2em;
    // margin-top: 1em;
  }
  #spicyknife {
    width: 8em;
    margin: 1.5em 0;
  }

}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 700px) {
  body {
    font-size: 0.9em;
  }
    .content-page {
      padding: 1.5em 1.75em;
    }

}

