/*****************************/
/* VARIABLES */
$basic-primary: #85735f;
$basic-primary-hover: #85735f;
$basic-secondary: #dbd6d0;
$basic-white: #ffffff;

$section-color1: #ebe5df;
$section-color2: #9d7e68;
